/* geral */

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body{
    background-color: rgb(210, 244, 185);
}

/*tirar a area em volta do textbox*/
textarea:focus, input:focus{
    outline: none;
}

a{
    font-size: .8rem;
}

a:hover {
    color:blueviolet;
}

/* container LOGIN */

#login-container{
    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/* Formulario */

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;
    font-size: .8rem;
}

input{
    border: 2px solid #323232;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus{
    border-bottom: 2px solid #08558b;
}

#forgot-pass{
    text-align: left;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #106099;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1b223c;
    transition: .5s;
}

