@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    background: rgb(9, 10, 9);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(247,247,250,1) 0%, rgba(158,246,231,1) 81%, rgba(128,227,247,1) 98%);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header > h1{
    font-family: 'Poppins', sans-serif;
    color: #fbfffe;
}

header > div > a{
    border: none;
    font-size: 17px;
    padding: 6px 18px;
    margin-right: 15px;
    background-color: rgb(34, 160, 160);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: 1s;
    font-family: 'Poppins', sans-serif;
}

header > div > a:hover{
    background-color: rgb(248, 248, 248);
    color: rgb(34, 160, 160);
    border: 1px rgb(34, 160, 160);
}

header{
    border: 1px solid rgb(34, 160, 160);
    background-color: rgb(34, 160, 160);
    box-shadow: 4px 5px 4px rgb(193, 195, 200);
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 320px;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center;
    text-align: center;
    padding: 20px;
    
}

h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #337b6f; 
    gap: 32px;
    font-weight: bold;
}

main > h2{
    margin-top: 100px;
}

main > div{
    display:flex;
    justify-content: center

}

main > div > a{
    font-size: 25px; 
    margin-left: 40px;
    text-align: center;
    border: none;
    padding: 6px 18px;
    background-color: rgb(34, 160, 160);
    color:white;
    text-decoration: none;
    border-radius: 4px;
    width: 180px;
    height: 60;
    box-shadow: 4px 5px 4px rgb(60, 137, 199);
    transition: 0.5s;
    border: 1px transparent solid;
    
}
main > div > a:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(34, 160, 160); 
    border: 1px solid rgb(34, 160, 160);
}

main > div > a{
    width: 10%;
    display: block;
    margin-top: 92px;
    font-family: 'Poppins', sans-serif;
}
.section-icons{
    padding-right: 25px;
    padding-top: 50px;
    padding-left: 30px;

}


section > h2{
    font-size: 24px;
    margin-bottom: 60px;
}

section > ul{
    padding: 60px 55px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

section > ul > li{
    width: 300px;
    border-radius: 10px 10px 10px 10px;
}

section > ul > li > h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #1A6155;
    font-size: 20px;
    font-weight: 700;
}

section > ul > li{
    font-family: 'Poppins', sans-serif;
    color: #368175;
}

section > ul > li > div{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

section > ul > li > div > i{
    padding: 4px 4px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    font-size: 25px;  
}

section > ul > li > p{
    font-size: 18px;
}

.equipe {
    width: 100vw;
}
 .equipe > ul > li > img{
    width: 150px;
    border-radius: 100px;
    margin-top: 15px;
 }
 .equipe > ul > li{
    background-color: #ffffffb9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
 }
 .equipe > ul > li> a{
    text-decoration: none;
    color: #1A6155;
    margin-bottom: 15px;
 }
 .equipe > ul > li> h4 { 
    margin-bottom: -10px;
    max-width: 1000px;
 }
 .equipe-h2{
    margin-top: 100px;
    margin-bottom: -30px;
    
 }

footer{
   background-color:rgb(34, 160, 160);
   margin-bottom: -20px;
} 
 
footer > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
}

footer > h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
@media screen and (min-width: 768px) {

    @media (max-width: 1295px){
        header{
            padding: 0px 100px;
        }
        .equipe > ul > li{
            min-width: 200px;
         }
    }
    
    @media (max-width: 1141px) {
        .section-icons{
            padding: 60px 55px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 60px;
        }
        
        .equipe > ul{
            padding: 60px 55px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 90%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 60px;
            overflow: scroll;
        }
    
        body{
            margin: 0;
            padding: 0;
            background: rgb(9, 10, 9);
            background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(247,247,250,1) 0%, rgba(158,246,231,1) 81%, rgba(128,227,247,1) 98%);
            height: 800px;

        }    
    } 
}
@media (max-width:460px){
    .section-icons{
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: scroll;     
    }  
    .equipe > ul{
        padding: 20px 20px;
        justify-content: space-between;
        list-style: none;
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 60px;
        overflow: scroll;       
   }
    footer > h4{
       margin-top: 10px;
       margin-bottom: 10px;
   }
    main > div > a{
       width: 20%;
       display: block;
       margin-top: 92px;
       font-family: 'Poppins', sans-serif;
}
    main > div > a{
       font-size: 20px; 
}
     main > div {
       justify-content: center;
    } 
    body{
        overflow-x: hidden;
    }
}